<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src = "https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>班级概览</title>
    <style type="text/css">
        *, *::before, *::after{
            box-sizing: border-box;
        }
        .BORDER{
            display: block;
            position: relative;
            border: white;
            padding: 1.5rem;
            border-width: .2rem;
            margin-left: 0;
            margin-right: 0;
            margin-top: 1rem;
            margin-bottom: 0px;
        }
        .BORDER::after{
            display: block;
            clear: both;
            content: "";
        }
        .fixed-bottom{
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .selector-for-some-widget {
            box-sizing: content-box;
        }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <div class="BORDER">
        <div class="fixed-top">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">全局导航栏</h5>
                    <table>
                        <tr>
                            <th class="text-white">1</th>
                            <th class="text-white">2</th>
                        </tr>
                        <tr>
                            <th class="text-white">Toggleable via the navbar brand.</th>
                            <th class="text-white">Toggleable via the navbar brand.</th>
                        </tr>
                    </table>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="text-white">Score System</span>
            </nav>
        </div>
    </div>
    <div class="BORDER"></div>
    <div class="container-fluid">
        <div class="row row-cols-4">
        {% for now_class in ClassList %}
            <div class="col">
                <div class="selector-for-some-widget" id="Board{{ now_class.name }}" style="width: 400px; height: 340px;"></div>
                <script>
                var Exam_Boxplot = echarts.init(document.getElementById("Board{{ now_class.name }}"));
                var Option_Boxplot = {
                    title: {
                        show: false
                    },
                    tooltip: {},
                    legend: {
                        show: false
                    },
                    xAxis: {
                        data:[
                            '1', '2', '3'
                        ]
                    },
                    yAxis: {
                        data: [
                            ''
                        ]
                    },
                    series: [{
                        name: '排名',
                        type: 'boxplot',
                        data:[
                            //[{{ NowExam.value_min }}, {{ NowExam.value_Q1 }}, {{ NowExam.value_Q2 }}, {{ NowExam.value_Q3 }}, {{ NowExam.value_max }}],
                        ]
                    }
                    ]
                };
                Exam_Boxplot.setOption(Option_Boxplot);
                </script>
            </div>
            <div class="col">
                <div class="card border-info" style="min-height: 240px;min-width: 18rem;">
                    <div class="card-body text-info">
                        <h4 class="card-title">查看 {{ now_class.name }} 班</h4>
                        <h5 class="card-subtitle mb-2">查看 {{ now_class.name }} 班的详细信息</h5>
                        <p class="card-text text-muted">包含的功能：</p>
                        <p class="card-text text-muted">查看该班某一次考试的情况</p>
                        <p class="card-text text-muted">任选时间轴上一组考试的对比查看</p>
                        <a href="{{ now_class.name }}/class_details" class="btn btn-primary">查看 {{ now_class.name }} 班</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <footer style="background-color: #353b41;">
        <br />
        <span class="text-white h5">CDJKYFZ_ScoreSystem</span>
        <span class="text-white" style="float: right">Created by <b>HansLimon & dixiatielu</b> with bootstrap, Echarts and simpleUI. Powered by django.</span>
    </footer>
    <script type="text/javascript">
        $(function(){
            function footerPosition(){
                $("footer").removeClass("fixed-bottom");
                var contentHeight = document.body.scrollHeight,
                winHeight = window.innerHeight;
                if(!(contentHeight > winHeight)){
                    $("footer").addClass("fixed-bottom");
                } else {
                    $("footer").removeClass("fixed-bottom");
                }
            }
            footerPosition();
            $(window).resize(footerPosition);
      });
    </script>
    {% for now_class in ClassList %}

    {% endfor %}
</body>
</html>