<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>考试概览</title>
    <script src = "https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style type="text/css">
        *, *::before, *::after{
            box-sizing: border-box;
        }
        .BORDER{
            display: block;
            position: relative;
            border: white;
            padding: 1.5rem;
            border-width: .2rem;
            margin-left: 0;
            margin-right: 0;
            margin-top: 1rem;
            margin-bottom: 0px;
        }
        .BORDER::after{
            display: block;
            clear: both;
            content: "";
        }
        .fixed-bottom{
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <div class="BORDER">
        <div class="fixed-top">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">全局导航栏</h5>
                    <table>
                        <tr>
                            <th class="text-white">1</th>
                            <th class="text-white">2</th>
                        </tr>
                        <tr>
                            <th class="text-white">Toggleable via the navbar brand.</th>
                            <th class="text-white">Toggleable via the navbar brand.</th>
                        </tr>
                    </table>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="text-white">Score System</span>
            </nav>
        </div>
    </div>
    <div class="BORDER"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">选择一场考试进行预览</a>
                    {% for now_exam in ExamList %}
                        <a class="list-group-item list-group-item-action" id="{{ now_exam.title }}_list" data-toggle="list" href="#list-{{ now_exam.title }}">
                            <span>{{ now_exam.title }}</span>
                            <span style="float: right;" class="text-muted"><small>$(TIME)$</small></span>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <h3>选择一场考试进行预览</h3>
                    </div>
                    {% for now_exam in ExamList %}
                        <div class="tab-pane fade" id="list-{{ now_exam.title }}" role="tabpanel" aria-labelledby="#list-{{ now_exam.title }}">
                            <br />
                            <div id="Board{{ now_exam.title }}" style="width: 1000px; height: 680px;"></div>
                            <!-- TODO 这里只需注意如果能有 style 的 width: 100%; 或者 width: auto; 并且能正常显示，就改成这样 -->
                            <script>
                                var Exam_Boxplot = echarts.init(document.getElementById("Board{{ now_exam.title }}"));
                                var Option_Boxplot = {
                                    title: {
                                        text: "{{now_exam.title}}的预览"
                                    },
                                    tooltip: {},
                                    legend: {
                                        data:['分数']
                                    },
                                    xAxis: {
                                        data:[
                                            '语文', '数学', '外语', '物理', '化学', '生物'
                                        ]
                                    },
                                    yAxis: [{
                                        name: '分数',
                                        type: 'value',
                                        min: 30,
                                        max: 150,
                                        splitNumber: 10
                                    }
                                    ],
                                    series: [{
                                        name: '分数',
                                        type: 'boxplot',
                                        data:[
                                            [{{ now_exam.yw.value_min }}, {{ now_exam.yw.value_Q1 }}, {{ now_exam.yw.value_Q2 }}, {{ now_exam.yw.value_Q3 }}, {{ now_exam.yw.value_max }}],
                                            [{{ now_exam.sx.value_min }}, {{ now_exam.sx.value_Q1 }}, {{ now_exam.sx.value_Q2 }}, {{ now_exam.sx.value_Q3 }}, {{ now_exam.sx.value_max }}],
                                            [{{ now_exam.yy.value_min }}, {{ now_exam.yy.value_Q1 }}, {{ now_exam.yy.value_Q2 }}, {{ now_exam.yy.value_Q3 }}, {{ now_exam.yy.value_max }}],
                                            [{{ now_exam.wl.value_min }}, {{ now_exam.wl.value_Q1 }}, {{ now_exam.wl.value_Q2 }}, {{ now_exam.wl.value_Q3 }}, {{ now_exam.wl.value_max }}],
                                            [{{ now_exam.hx.value_min }}, {{ now_exam.hx.value_Q1 }}, {{ now_exam.hx.value_Q2 }}, {{ now_exam.hx.value_Q3 }}, {{ now_exam.hx.value_max }}],
                                            [{{ now_exam.sw.value_min }}, {{ now_exam.sw.value_Q1 }}, {{ now_exam.sw.value_Q2 }}, {{ now_exam.sw.value_Q3 }}, {{ now_exam.sw.value_max }}]
                                        ]
                                    }]
                                };
                                Exam_Boxplot.setOption(Option_Boxplot);
                            </script>
                            <div class="btn-group" role="group" style="float: right;">
                                <button type="button" class="btn btn-primary" disabled>>>>>查看考试{{ now_exam.title }}的详情</button>
                                <a type="button" class="btn btn-outline-primary" href="exam_details/1">查看语文</a>
                                <a type="button" class="btn btn-outline-primary" href="exam_details/2">查看数学</a>
                                <a type="button" class="btn btn-outline-primary" href="exam_details/3">查看英语</a>
                                <a type="button" class="btn btn-outline-primary" href="exam_details/4">查看物理</a>
                                <a type="button" class="btn btn-outline-primary" href="exam_details/5">查看化学</a>
                                <a type="button" class="btn btn-outline-primary" href="exam_details/6">查看生物</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="BORDER"></div>
    <footer style="background-color: #353b41;">
        <br />
        <span class="text-white h5">CDJKYFZ_ScoreSystem</span>
        <span class="text-white" style="float: right">Created by <b>HansLimon & dixiatielu</b> with bootstrap, Echarts and simpleUI. Powered by django.</span>
    </footer>
    <script type="text/javascript">
        $(function(){
            function footerPosition(){
                $("footer").removeClass("fixed-bottom");
                var contentHeight = document.body.scrollHeight,
                winHeight = window.innerHeight;
                if(!(contentHeight > winHeight)){
                    $("footer").addClass("fixed-bottom");
                } else {
                    $("footer").removeClass("fixed-bottom");
                }
            }
            footerPosition();
            $(window).resize(footerPosition);
      });
    </script>
</body>
</html>