<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>考试信息</title>
    <script src = "https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style type="text/css">
        *, *::before, *::after{
            box-sizing: border-box;
        }
        .BORDER{
            display: block;
            position: relative;
            border: white;
            padding: 1.5rem;
            border-width: .2rem;
            margin-left: 0;
            margin-right: 0;
            margin-top: 1rem;
            margin-bottom: 0px;
        }
        .BORDER::after{
            display: block;
            clear: both;
            content: "";
        }
        .fixed-bottom{
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <div class="BORDER">
        <div class="fixed-top">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">全局导航栏</h5>
                    <table>
                        <tr>
                            <th class="text-white">1</th>
                            <th class="text-white">2</th>
                        </tr>
                        <tr>
                            <th class="text-white">Toggleable via the navbar brand.</th>
                            <th class="text-white">Toggleable via the navbar brand.</th>
                        </tr>
                    </table>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="text-white">Score System</span>
            </nav>
        </div>
    </div>
    <div class="BORDER"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class = "Board" id = "UnKnown" style="width: 1000px; height:800px;">
                    <!-- TODO 这里只需注意如果能有 style 的 width: 100%; 或者 width: auto; 并且能正常显示，就改成这样 -->
                    <div class="spinner-border text-secondary" role="status" align="center">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h5 align="center">使用右侧按钮组</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary" onclick="ChangeBoardId_1()">箱型图</button>
                    <button type="button" class="btn btn-secondary" onclick="ChangeBoardId_2()">分数柱状图</button>
                    <button type="button" class="btn btn-secondary" onclick="ChangeBoardId_3()">排名柱状图</button>
                </div>
                <script>
                    function ChangeBoardId_1(){
                        document.getElementsByClassName("Board")[0].setAttribute("id", 'Exam_Boxplot');
                        var Exam_Boxplot = echarts.init(document.getElementById("Exam_Boxplot"));
                        var Option_Boxplot = {
                            title: {
                                text: '箱型图'
                            },
                            tooltip: {},
                            legend: {
                                data:['分数']
                            },
                            xAxis: {
                                data:[
                                    '{{ NowExam.title }}'
                                ]
                            },
                            yAxis: {

                            },
                            series: [{
                                name: '分数',
                                type: 'boxplot',
                                data:[
                                    [{{ NowExam.value_min }}, {{ NowExam.value_Q1 }}, {{ NowExam.value_Q2 }}, {{ NowExam.value_Q3 }}, {{ NowExam.value_max }}],
                                ]
                            }]
                        };
                        Exam_Boxplot.setOption(Option_Boxplot);
                        }
                    function ChangeBoardId_2(){
                        document.getElementsByClassName("Board")[0].setAttribute("id", 'Exam_BarScore')
                        var Exam_Bar = echarts.init(document.getElementById("Exam_BarScore"));
                        var Option_Bar = {
                            title: {
                                text: '柱状图'
                            },
                            tooltip: {},
                            legend: {
                                data:['分数']
                            },
                            xAxis: {

                            },
                            yAxis: {},
                            series: [{
                                name: '分数',
                                type: 'bar',
                                data:[
                                    []
                                ]
                            }]
                        }
                        Exam_Bar.setOption(Option_Bar)
                    }
                </script>
            </div>
        </div>
    </div>
    <footer style="background-color: #353b41;">
        <br />
        <span class="text-white h5">CDJKYFZ_ScoreSystem</span>
        <span class="text-white" style="float: right">Created by <b>HansLimon & dixiatielu</b> with bootstrap, Echarts and simpleUI. Powered by django.</span>
    </footer>
    <script type="text/javascript">
        $(function(){
            function footerPosition(){
                $("footer").removeClass("fixed-bottom");
                var contentHeight = document.body.scrollHeight,
                winHeight = window.innerHeight;
                if(!(contentHeight > winHeight)){
                    $("footer").addClass("fixed-bottom");
                } else {
                    $("footer").removeClass("fixed-bottom");
                }
            }
            footerPosition();
            $(window).resize(footerPosition);
      });
    </script>
</body>
</html>