<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Main Page</title>
    <style type="text/css">
        *, *::before, *::after{
            box-sizing: border-box;
        }
        .BORDER{
            display: block;
            position: relative;
            border: white;
            padding: 1.5rem;
            border-width: .2rem;
            margin-left: 0;
            margin-right: 0;
            margin-top: 1rem;
            margin-bottom: 0px;
        }
        .BORDER::after{
            display: block;
            clear: both;
            content: "";
        }
        .fixed-bottom{
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <div class="BORDER">
        <div class="fixed-top">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">全局导航栏</h5>
                    <table>
                        <tr>
                            <th class="text-white">1</th>
                            <th class="text-white">2</th>
                        </tr>
                        <tr>
                            <th class="text-white">Toggleable via the navbar brand.</th>
                            <th class="text-white">Toggleable via the navbar brand.</th>
                        </tr>
                    </table>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="text-white">Score System</span>
            </nav>
        </div>
    </div>
    <div class="BORDER"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img>
            </div>
            <div class="col-md-4">
                <div class="card border-success">
                    <div class="card-body text-success" style="min-height: 12rem;min-width: 12rem;max-width: 36rem;">
                        <h4 class="card-title">最近一次考试</h4>
                        <h5 class="card-subtitle mb-2 text-muted">查看最近一次考试的情况</h5>
                        <p class="card-text"><small class="text-muted">上一次考试：$(TIME)$</small></p>
                        <p class="card-text"><small class="text-muted">年级最高：$(MAXSCORE)$</small></p>
                        <p class="card-text"><small class="text-muted">年级均分：$(MEANSCORE)$</small></p>
                        <a href class="card-link">查看年级情况</a>
                        <a href class="card-link">查看班级情况</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-success">
                    <div class="card-body text-success" style="min-height: 12rem;min-width: 12rem;max-width: 36rem;">
                        <h4 class="card-title">查看所有考试</h4>
                        <h5 class="card-subtitle mb-2 text-muted">查看所有考试的情况</h5>
                        <p class="card-text text-muted"><small>包含的功能：</small></p>
                        <p class="card-text text-muted"><small>以考试为单位查看学生表现</small></p>
                        <p class="card-text text-muted"><small>以考试为单位查看班级表现</small></p>
                        <a href class="card-link">前往查看所有考试</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="BORDER"></div></div>
        <div class="row">
            <div class="col">
                <div class="card border-info" style="min-height: 12rem;min-width: 24rem;max-width: 36rem;">
                    <div class="card-body text-info">
                        <h4 class="card-title">查看学生</h4>
                        <h5 class="card-subtitle mb-2">以学生为单位进行查询</h5>
                        <p class="card-text text-muted"><small>包含的功能：</small></p>
                        <p class="card-text text-muted"><small>查看单独学生的单科或总科情况</small></p>
                        <p class="card-text text-muted"><small>任选一组学生进行单科或总科的对比查看</small></p>
                        <a href="#" class="card-link">前往查看学生</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-info" style="min-height: 12rem;min-width: 24rem;max-width: 36rem;">
                    <div class="card-body text-info">
                        <h4 class="card-title">查看班级</h4>
                        <h5 class="card-subtitle mb-2">以班级为单位查看考试情况</h5>
                        <p class="card-text text-muted"><small>包含的功能：</small></p>
                        <p class="card-text text-muted"><small>查看单独一次考试的单科或总科情况</small></p>
                        <p class="card-text text-muted"><small>在时间轴上任选一组考试查看对比分析</small></p>
                        <a href="class" class="card-link">前往查看班级</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
    <footer style="background-color: #353b41;">
        <br />
        <span class="text-white h5">CDJKYFZ_ScoreSystem</span>
        <span class="text-white" style="float: right">Created by <b>HansLimon & dixiatielu</b> with bootstrap, Echarts and simpleUI. Powered by django.</span>
    </footer>
    <script type="text/javascript">
        $(function(){
            function footerPosition(){
                $("footer").removeClass("fixed-bottom");
                var contentHeight = document.body.scrollHeight,
                winHeight = window.innerHeight;
                if(!(contentHeight > winHeight)){
                    $("footer").addClass("fixed-bottom");
                } else {
                    $("footer").removeClass("fixed-bottom");
                }
            }
            footerPosition();
            $(window).resize(footerPosition);
      });
    </script>
</body>
</html>