{% if Exam_List %}
    <ul>
        {% for exam in Exam_List %}
        <li>
            <h3>{{ exam.title }}</h3>
            <p>{{ exam.content }}</p>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p> No Exams</p>
{% endif %}
{% if Alpha_List %}
    <ul>
        {% for i in Alpha_List %}
        <li>
            <h3><b>{{ i.title }}</b></h3>
            <p>{{ i.content }}</p>
            <p>{{ i.time }}</p>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p> No is</p>
{% endif %}