<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Main Page</title>
    <style type="text/css">
        *, *::before, *::after{
            box-sizing: border-box;
        }
        .BORDER{
            display: block;
            position: relative;
            border: white;
            padding: 1.5rem;
            border-width: .2rem;
            margin-left: 0;
            margin-right: 0;
            margin-top: 1rem;
            margin-bottom: 0px;
        }
        .BORDER::after{
            display: block;
            clear: both;
            content: "";
        }
    </style>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <div class="BORDER">
        <div class="fixed-top">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">全局导航栏</h5>
                    <table>
                        <tr>
                            <th class="text-white">1</th>
                            <th class="text-white">2</th>
                        </tr>
                        <tr>
                            <th class="text-white">Toggleable via the navbar brand.</th>
                            <th class="text-white">Toggleable via the navbar brand.</th>
                        </tr>
                    </table>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </div>
    <div class="BORDER"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img>
            </div>
            <div class="col-md-8">
                <div class="card border-success">
                    <div class="card-body text-success" style="min-height: 12rem;min-width: 24rem;max-width: 36rem;">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="BORDER"></div></div>
        <div class="row">
            <div class="col">
                <div class="card border-success" style="min-height: 12rem;min-width: 24rem;max-width: 36rem;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="min-height: 12rem;min-width: 24rem;max-width: 36rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                (2, 1)
            </div>
        </div>
    </div>
</body>
</html>